<h1>Articles</h1>

<%= form_tag articles_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", title: nil %>
  </p>
<% end %>

<div id="articles">
<% @articles.each do |article| %>
  <h2>
    <%= highlight((link_to article.title, article), params[:query]) %>
  </h2>
  <div class="info">
    <%= highlight(excerpt(article.text, params[:query], radius: 20), params[:query]) %>

</div>
<div class="info">
  on <%= article.created_at.strftime('%b %d, %Y') %>
<% end %>
</div>

<%= will_paginate @articles %>